@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #f27f0d;
  --color-primary-dark: #d66c00;
  --color-secondary: #0f172a;
  --color-background-light: #f8fafc;
  --color-background-dark: #221910;
  --color-navy-50: #f1f5f9;
  --color-navy-700: #334155;
  --color-navy-800: #1e293b;
  --color-navy-900: #0f172a;
  --color-navy-950: #020617;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-sans antialiased text-slate-900 bg-white;
  }
}
